body{
	background: white;
}
.article {
	margin 		: 20px auto;
	width 		: 8.5in;
	min-height 	: 11in;
	background 	: white;
	font-family : 'Computer Modern Serif';
	box-shadow 	: -3px -3px 6px 4px lightgray;
}
.article > .document{
	width 	: 100%;
	display : inline-block;
	margin 	: 1in auto;
}
.document > *{
	margin: 0 1in;
}
.document > .center{
	max-width 		: 6.5in;
	margin-left 	: auto;
	margin-right 	: auto;
	text-align 		: center;
}
.document > .left {
	float 	: left;
}
.document > .right {
	float 	: right;
}
.document > span{
	margin: 0;
}
.document > a{
	margin 				: 0;
	text-decoration 	: none;
}
.document > p{
	margin-bottom: 0.25in;
}
.document > h1{
	font-weight : bold; 
}
.document > .image {
	/*width 		: 4.5in;*/
	font-style 	: italic;
	text-align 	: center;
}
.document > .image > img{
	margin 		: 0;
	width 		: 100%;
	border 		: 1px solid lightgray;
}
.document > table{
	border-top 		: 1px solid black;
	border-bottom 	: 1px solid black;
	border-collapse : collapse;
}
.document > table > tbody > tr > th {
	/*border-top 		: 1px solid black;*/
	padding 		: 2px;
	border-bottom 	: 1px solid black;
	border-collapse : collapse;
}
.caption {
	font-size 	: 0.8em;
}
